In [31]:
#Dependencies and Setup
import pandas as pd
import numpy as np

In [32]:
#File to Load
school_data_to_load="~/Desktop/GitHubDataScienceUCI/PyCitySchools/schools_complete.csv"
student_data_to_load="~/Desktop/GitHubDataScienceUCI/PyCitySchools/students_complete.csv"

In [33]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [34]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how ="left", on=["school_name", "school_name"])

In [35]:
#District Summary: Calculate the total number of schools
total_schools = school_data["school_name"].count()
total_schools

15

In [36]:
#District Summary: Calculate total number of students
total_students = student_data["student_name"].count()
total_students

39170

In [37]:
#District Summary: Calculate the total budget
total_budget = school_data["budget"].sum()
"$" + str("{:.2f}".format(total_budget))

'$24649428.00'

In [38]:
#District Summary: Calculate the average math score 
average_math = student_data['math_score'].mean()
str("{:.6f}".format(average_math))

'78.985371'

In [39]:
#District Summary: Calculate the average reading score 
average_reading = student_data['reading_score'].mean()
str("{:.5f}".format(average_reading))

'81.87784'

In [40]:
#District Summary: Calculate the percentage of students with a passing math score (70 or greater)
pass_math = (student_data['math_score']>=70).sum()/total_students * 100
pass_math

74.9808526933878

In [41]:
#District Summary: Calculate the percentage of students with a passing reading score (70 or greater)
pass_reading = (student_data['reading_score']>=70).sum()/total_students * 100
pass_reading

85.80546336482001

In [42]:
#District Summary: Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
pass_overall = (average_math+average_reading)/2
pass_overall

80.43160582078121

In [43]:
#Create a dataframe to hold the above results
district_overview = pd.DataFrame({"Total Schools":[total_schools],"Total Budget":["$" + str("{:.2f}".format(total_budget))],"Total Students":[total_students],"Average Math Score":[average_math],"Average Reading Score":[average_reading],"% Passing Math":[pass_math],"% Passing Reading":[pass_reading],"% Passing Overall":[pass_overall]})
district_overview

,Total Schools,Total Budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,$24649428.00,39170,78.985371,81.87784,74.980853,85.805463,80.431606

In [44]:
#School Summary: School Types and Types
school_types = school_data.set_index("school_name")["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [15]:
#School Summary: Total students
Students_Per_School = school_data_complete['school_name'].value_counts()
Students_Per_School

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
#School Summary: Total school budget
school_budget = school_data.set_index("school_name")["budget"]
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [17]:
#School Summary: Per student budget
Per_student_budget = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]
Per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [18]:
#School Summary: Average Math Score
average_math_score = school_data_complete.groupby("school_name").mean()['math_score'] 
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
#School Summary: Average Reading Score
average_reading_score = school_data_complete.groupby("school_name").mean()['reading_score'] 
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
#School Summary: Percent Passing Math
percent_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name").count()['student_name']/Students_Per_School * 100 
percent_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [21]:
#School Summary: Percent Passing Reading
percent_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name").count()['student_name']/Students_Per_School * 100
percent_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [22]:
#School Summary: Percent Passing Reading
Overall_Passing_Rate = (percent_passing_math+percent_passing_reading)/2
Overall_Passing_Rate

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [23]:
#create a dataframe to hold above
summary_by_school= pd.DataFrame({"School Type": school_types,"Total Students": Students_Per_School,"Total School Budget": school_budget,"Per Student Budget": Per_student_budget,"Average Math Score": average_math_score,"Average Reading Score": average_reading_score,"% Passing Math": percent_passing_math,"% Passing Reading": percent_passing_reading,"% Overall Passing Rate": Overall_Passing_Rate})


#formatting summary_by_school for the total school budget and per student budget columns
summary_by_school.style.format({"Total School Budget": '${:.2f}',
                          "Per Student Budget": '${:.2f}','Average Math Score': '{:.6f}',
                              'Average Reading Score': '{:.6f}',
                              '% Passing Math': '{:.6f}',
                              '% Passing Reading': '{:.6f}',
                              '% Overall Passing Rate': '{:.6f}'})

In [24]:
top_5 = summary_by_school.sort_values("% Overall Passing Rate", ascending = False).head(5)
top_5

#Formatting top 5 schools for the total school budget and per student budget columns
top_5.style.format({"Total School Budget": '${:.2f}',
                          "Per Student Budget": '${:.2f}','Average Math Score': '{:.6f}',
                              'Average Reading Score': '{:.6f}',
                              '% Passing Math': '{:.6f}',
                              '% Passing Reading': '{:.6f}',
                              '% Overall Passing Rate': '{:.6f}'})

In [25]:
bottom_5 = summary_by_school.sort_values("% Overall Passing Rate", ascending = True).head(5)
bottom_5

#Formatting bottom 5 schools for the total school budget and per student budget columns
bottom_5.style.format({"Total School Budget": '${:.2f}',
                      "Per Student Budget": '${:.2f}','Average Math Score': '{:.6f}',
                              'Average Reading Score': '{:.6f}',
                              '% Passing Math': '{:.6f}',
                              '% Passing Reading': '{:.6f}',
                              '% Overall Passing Rate': '{:.6f}'})

In [26]:
#Math Scores by Grade
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
#Combine the series into a dataframe

ninth = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
tenth = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleventh = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelfth = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

#Combine the series into a dataframe
math_score = pd.DataFrame({"9th": ninth,"10th": tenth,"11th": eleventh,"12th": twelfth})
math_score

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [27]:
#Reading Scores by Grade
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
#Combine the series into a dataframe

ninth = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
tenth = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleventh = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelfth = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

#Combine the series into a dataframe
reading_score = pd.DataFrame({"9th": ninth,"10th": tenth,"11th": eleventh,"12th": twelfth})
reading_score

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [28]:
#Scores by School Spending

#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

summary_by_school["spending_bins"] = pd.cut(summary_by_school["Total School Budget"]/summary_by_school["Total Students"], spending_bins, labels = group_names)

#group by spending bins
groupby_spending = summary_by_school.groupby("spending_bins")

#average math score
math_average = groupby_spending["Average Math Score"].mean()

#average reading score
reading_average = groupby_spending["Average Reading Score"].mean()

#% passing math
percent_passing_math = groupby_spending.mean()['% Passing Math']

#% passing reading
percent_passing_read = groupby_spending.mean()['% Passing Reading'] 

#overall passing rate(average of above two)
overall_passing_rate = (percent_passing_math + percent_passing_read)/2
                        
scores_by_school_spending = pd.DataFrame({"Average Math Score": math_average,"Average Reading Score": reading_average,"% Passing Math": percent_passing_math,"% Passing Reading": percent_passing_read,"% Overall Passing Rate": overall_passing_rate})
scores_by_school_spending

#Formatting: scores_by_school_spending
scores_by_school_spending.style.format({'Average Math Score': '{:.6f}',
                              'Average Reading Score': '{:.6f}',
                              '% Passing Math': '{:.6f}',
                              '% Passing Reading': '{:.6f}',
                              '% Overall Passing Rate': '{:.6f}'})

In [29]:
#Scores by School Size
#Perform the same operations as above, based on school size.

## Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

summary_by_school["size_bins"] = pd.cut(summary_by_school["Total Students"], size_bins, labels = group_names)

#group by school size
groupby_size = summary_by_school.groupby("size_bins")

#average math score
math_average = groupby_size["Average Math Score"].mean()

#average reading score
reading_average = groupby_size["Average Reading Score"].mean()

#% passing math
percent_passing_math = groupby_size.mean()['% Passing Math']

#% passing reading
percent_passing_reading = groupby_size.mean()['% Passing Reading']

#overall passing rate(average of above two)
overall_passing_rate = (percent_passing_math + percent_passing_reading)/2
          
scores_by_school_size = pd.DataFrame({"Average Math Score": math_average,"Average Reading Score": reading_average,"% Passing Math": percent_passing_math,"% Passing Reading": percent_passing_reading,"% Overall Passing Rate": overall_passing_rate})
scores_by_school_size

#Formatting: scores_by_school_size
scores_by_school_size.style.format({'Average Math Score': '{:.6f}', 
                             'Average Reading Score': '{:.6f}', 
                             '% Passing Math': '{:.6f}', 
                             '% Passing Reading':'{:.6f}', 
                             '% Overall Passing Rate': '{:.6f}'})

In [30]:
# group by type of school
groupby_type = school_data_complete.groupby("type")

#average math score
math_average = groupby_type["math_score"].mean()

#average reading score
reading_average = groupby_type["reading_score"].mean()

#%passing math
percent_passing_math = school_data_complete[school_data_complete["math_score"] >=70].groupby("type")["Student ID"].count()/groupby_type["Student ID"].count()

#%passing reading
percent_passing_reading = school_data_complete[school_data_complete["reading_score"] >=70].groupby("type")["Student ID"].count()/groupby_type["Student ID"].count()

#overall passing rate(average of above two)
overall_passing_rate = (percent_passing_math + percent_passing_reading)/2

scores_by_school_type = pd.DataFrame({"Average Math Score": math_average,"Average Reading Score": reading_average,"% Passing Math": 100*percent_passing_math,"% Passing Reading": 100*percent_passing_reading,"% Overall Passing Rate": 100*overall_passing_rate})
scores_by_school_type

#Formatting scores_by_school_type
scores_by_school_type.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing Rate': '{:.6f}'})